<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>br-zoomable-card test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../br-zoomable-card.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <br-zoomable-card></br-zoomable-card>
      </template>
    </test-fixture>

    <script>
      suite('br-zoomable-card', function() {
        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'br-zoomable-card');
        });
      });
    </script>
  </body>
</html>
